<form method="get" action="/admin/users" class="mb-12">
  <div class="grid grid-cols-1 md:grid-cols-3 gap-4 items-end">
    <fieldset class="w-full flex flex-col items-start">
      <label for="name" class="block text-sm text-zinc-600 font-medium mb-1"
        >Nome</label
      >
      <input
        type="text"
        id="name"
        name="name"
        maxlength="25"
        class="border px-4 py-2 text-zinc-800 rounded border-zinc-300 w-full outline-indigo-500"
      />
    </fieldset>
    <fieldset class="w-full flex flex-col items-start">
      <label for="username" class="block text-sm text-zinc-600 font-medium mb-1"
        >Usuário</label
      >
      <input
        type="text"
        id="username"
        name="username"
        maxlength="25"
        class="border px-4 py-2 text-zinc-800 rounded border-zinc-300 w-full outline-indigo-500"
      />
    </fieldset>
    <button
      type="submit"
      class="h-[42px] text-white cursor-pointer text-center w-full rounded bg-indigo-500 hover:bg-indigo-800 transition"
    >
      Buscar
    </button>
  </div>
</form>
<table class="w-full table-auto my-4">
  <thead>
    <tr class="border-y border-zinc-200">
      <th class="font-normal text-zinc-500 text-left py-4">Usuário</th>
      <th class="font-normal text-zinc-500 text-left py-4">Nome</th>
      <th class="font-normal text-zinc-500 text-left py-4">Links</th>
      <th class="font-normal text-zinc-500 text-center py-4">Opções</th>
    </tr>
  </thead>
  <tbody>
    <% users.forEach(function (user) { %>
    <tr class="border-b border-zinc-200 hover:bg-zinc-100 transition">
      <td class="py-4 flex items-center">
        <img
          src="<%= user.photoUrl ? user.photoUrl : `https://ui-avatars.com/api/?name=${user.name.replace(/\s/g, '+')}`%>"
          class="rounded-full w-8 ml-2 mr-4"
        />
        <span><%= user.username %></span>
      </td>
      <td class="py-4"><%= user.name %></td>
      <td class="py-4"><%= user.links %></td>
      <td>
        <i data-feather="more-vertical" class="w-5 h-5 mx-auto"></i>
      </td>
    </tr>
    <% }) %>
  </tbody>
</table>
