<section class="bg-white rounded border border-zinc-300 p-2 mb-6">
  <div class="w-full md:w-fit flex flex-col md:flex-row items-center gap-2">
    <a
      id="dashboard"
      href="/admin/dashboard"
      class="w-full md:w-fit cursor-pointer py-2 px-2 md:px-4 rounded flex items-center justify-start md:justify-center transition"
    >
      <i data-feather="monitor" class="w-5 h-5 mr-2"></i>
      Dashboard
    </a>
    <a
      id="logs"
      href="/admin/logs"
      class="w-full md:w-fit cursor-pointer py-2 px-2 md:px-4 rounded flex items-center justify-start md:justify-center transition"
    >
      <i data-feather="layers" class="w-5 h-5 mr-2"></i>
      Logs do sistema
    </a>
    <a
      id="settings"
      href="/admin/settings"
      class="w-full md:w-fit cursor-pointer py-2 px-2 md:px-4 rounded flex items-center justify-start md:justify-center transition"
    >
      <i data-feather="settings" class="w-5 h-5 mr-2"></i>
      Configurações
    </a>
  </div>
  <script>
    const pathname = window.location.pathname.split("/").pop();
    const availableTabs = new Set(["dashboard", "logs", "settings"]);

    const currentTab = availableTabs.has(pathname) ? pathname : "dashboard";

    const active = "text-white bg-indigo-500 hover:bg-indigo-600";
    const inactive = "text-zinc-800 bg-transparent hover:bg-zinc-200";

    const dashboardTab = document.querySelector("#dashboard");
    const logsTab = document.querySelector("#logs");
    const settingsTab = document.querySelector("#settings");

    const tabs = [dashboardTab, logsTab, settingsTab];

    function updateHeaderTabs() {
      for (const tab of tabs) {
        if (tab.id === currentTab) {
          tab.classList.add(...active.split(" "));
          continue;
        }

        tab.classList.add(...inactive.split(" "));
      }
    }

    updateHeaderTabs();
  </script>
</section>
