<article
  class="bg-white relative p-4 rounded border border-zinc-300 text-center flex items-center justify-between"
>
  <div class="text-left">
    <small class="uppercase text-sm font-light">Admins</small>
    <h2 class="text-3xl font-medium"><%= stats.admins %></h2>
  </div>
  <div
    class="w-12 h-12 rounded-full bg-sky-200 flex items-center justify-center"
  >
    <i data-feather="shield" class="w-5 h-5 text-sky-800"></i>
  </div>
</article>
<article
  class="bg-white relative p-4 rounded border border-zinc-300 text-center flex items-center justify-between"
>
  <div class="text-left">
    <small class="uppercase text-sm font-light">Usuários</small>
    <h2 class="text-3xl font-medium"><%= stats.users %></h2>
  </div>
  <div
    class="w-12 h-12 rounded-full bg-orange-200 flex items-center justify-center"
  >
    <i data-feather="users" class="w-5 h-5 text-orange-800"></i>
  </div>
</article>
<article
  class="bg-white p-4 rounded border border-zinc-300 text-center flex items-center justify-between"
>
  <div class="text-left">
    <small class="uppercase text-sm font-light">Links Ativos</small>
    <h2 class="text-3xl font-medium"><%= stats.activeLinks %></h2>
  </div>
  <div
    class="w-12 h-12 rounded-full bg-indigo-200 flex items-center justify-center"
  >
    <i data-feather="external-link" class="w-5 h-5 text-indigo-800"></i>
  </div>
</article>
<article
  class="bg-white p-4 rounded border border-zinc-300 text-center flex items-center justify-between"
>
  <div class="text-left">
    <small class="uppercase text-sm font-light">Links Inativos</small>
    <h2 class="text-3xl font-medium"><%= stats.inactiveLinks %></h2>
  </div>
  <div
    class="w-12 h-12 rounded-full bg-red-200 flex items-center justify-center"
  >
    <i data-feather="eye-off" class="w-5 h-5 text-red-800"></i>
  </div>
</article>
