<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <script src="https://unpkg.com/@tailwindcss/browser@4"></script>
    <title>Registrar</title>
  </head>
  <body
    class="bg-white md:bg-zinc-100 min-h-full min-h-screen flex flex-col justify-center items-center"
  >
    <form
      method="post"
      action="/register"
      class="w-full md:border border-zinc-300 md:max-w-md bg-white text-center md:shadow md:rounded p-6"
    >
      <h1 class="text-black text-3xl font-medium mb-6">Registrar</h1>
      <input hidden type="text" name="csrf" value="<%= csrf %>" />
      <fieldset class="w-full mb-4 flex flex-col items-start">
        <label for="name" class="block text-sm text-zinc-600 font-medium mb-1"
          >Nome</label
        >
        <input
          required
          type="text"
          id="name"
          name="name"
          maxlength="50"
          value="<%= name %>"
          class="border px-4 py-2 text-zinc-800 rounded border-zinc-300 w-full outline-indigo-500"
        />
      </fieldset>
      <fieldset class="w-full mb-4 flex flex-col items-start">
        <label
          for="username"
          class="block text-sm text-zinc-600 font-medium mb-1"
          value="<%= username %>"
          >Usuário</label
        >
        <input
          required
          type="text"
          id="username"
          name="username"
          maxlength="25"
          class="border px-4 py-2 text-zinc-800 rounded border-zinc-300 w-full outline-indigo-500"
        />
      </fieldset>
      <div class="flex flex-col md:flex-row md:gap-4">
        <fieldset class="w-full mb-4 flex flex-col items-start">
          <label
            for="password"
            class="block text-sm text-zinc-600 font-medium mb-1"
            >Senha</label
          >
          <input
            required
            type="password"
            id="password"
            name="password"
            maxlength="255"
            class="border px-4 py-2 text-zinc-800 rounded border-zinc-300 w-full outline-indigo-500"
          />
        </fieldset>
        <fieldset class="w-full mb-4 flex flex-col items-start">
          <label
            for="confirmPassword"
            class="block text-sm text-zinc-600 font-medium mb-1"
            >Confirmar senha</label
          >
          <input
            required
            type="password"
            id="confirmPassword"
            name="confirmPassword"
            maxlength="255"
            class="border px-4 py-2 text-zinc-800 rounded border-zinc-300 w-full outline-indigo-500"
          />
        </fieldset>
      </div>
      <% if (error) { %>
      <span
        class="text-center text-sm block border border-red-400 bg-red-100 text-red-500 px-4 py-2 mb-4 w-full rounded"
        ><%= error %></span
      >
      <% } %>
      <button
        type="submit"
        class="mt-2 mb-4 text-white cursor-pointer text-lg font-medium text-center py-2 w-full rounded bg-indigo-500 hover:bg-indigo-800 transition"
      >
        Registrar
      </button>
      <small class="text-zinc-600"
        >Já possui conta?
        <a href="/login" class="text-indigo-500 hover:underline"
          >Entre aqui</a
        ></small
      >
    </form>
  </body>
</html>
